 body{
            background-color: cadetblue;
        }
        .xform{
            background-color: DeepSkyBlue;
            text-align: left;
            padding: 0px 20px;
            width: 450px;
            height: auto;
            border-radius: 20px;
        }
        .Amit{
            border-radius: 5px;
            width: 450px;
            height: 25px;
        }
        .btn{
            background-color: blue;
            color: white;
        }